* ::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.post{
  container-type: inline-size;
  container-name: sidebar;
}
@container (min-width: 625px) {
    .card h2 {
      font-size: 2em;
      background-color:red;
    }
  }
